
@media only screen and (min-width: 1000px) {
    .thumb{
        width: 100vw;
        height: 90vh;
    }

    .thumb img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .title{
        position: absolute;
        top: 30;
        right: 0;
        width: 45%;
    }

    .title h1{
        font-size: 120px;
        text-shadow: 5px 5px 10px #000000;
        color: #fff;
    }

    .title h2{
        font-size: 40pt;
        margin-top: 50px;
        font-weight: bold;
    }

    
    .title button{
        width: 50%;
        margin-left: 20%;
        font-size: 20pt;
        padding: 15px;
        background-color: #780FA9;
        color: #fff;
        border-radius: 25px;
        
    }

    .content h3{
        font-weight: bold;
        font-size: 50px;
        margin-top: 10px;
        text-align: center;

    }

    .row-me{
        display: flex;
        flex-direction: row;
        margin: 50px;

    }

    .left-me img, .right-me img{
        width: 80%;
        
    }

    

    .right-me, .left-me{
        width: 100%;
        
        margin-right: 50px;
    }

    .right-me p, .left-me p{
        font-size: 35px;
    }

    .m-modal{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 0;
        background-color: #fff;
        margin-top: 10vh;

        width: 70vw;
        height: 80vh;

        border-radius: 35px;

        box-shadow: 2px 5px 20px #000;
        
    }

    #m-modal-login{
        margin-top: 20vh;
        height: 60vh !important;
        width: 30vw;
    }

    #m-modal-registro{
        margin-top: 5vh;
        width: 30vw;
        height: 90vh;
    }

    .m-modal button{
        background-color: #780FA9;
        color: #fff;
        border-radius: 10px;
        width: 80%;
        height: 50px;
        padding: 15px;
        margin-left: 10%;
        margin-top: 3%;
        
    }

    .m-modal-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }

    .m-modal-content{
        padding: 5%;
        max-width: 95%;
        word-wrap: break-word;
    }

    .m-modal-content p{
        margin: 5%;
    }

    .m-modal-footer{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .m-modal-subtitle{
        font-weight: normal;
    }

    .m-modal-close-button{
        display: flex;
        align-items: center;
        justify-content: center;

        align-self: flex-end;
        margin-right: 5%;

        border-radius: 50%;
        border: 1px solid #780FA9;
        color: #780FA9;

        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;

    }

    .m-modal-subtitle{
        font-weight: normal;
    }

    .m-modal-close-button{
        display: flex;
        align-items: center;
        justify-content: center;

        align-self: flex-end;
        margin-right: 5%;

        border-radius: 50%;
        border: 1px solid #780FA9;
        color: #780FA9;

        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;

    }

    
    .thumb img.portrait {
        width: 100%;
        height: auto;
    }


    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    
.m-alert-success{
    background-color: green;
  }
  
  .m-alert-error{
    background-color: red;
  }
  
  #alert{
    position: absolute;
    top: 80;
    right: 50;
  
    display: none;
  
    color: #fff;
    font-size: 12pt;
  
    z-index: 1040;
  
    box-shadow: 2px 2px 2px #000;
  }


}
