@media only screen and (min-width: 1000px) {
    .top{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50px;

        position: absolute;
        left: 0;

        background-color: #780FA9;
        color: #fff;
        font-size: 25pt;
        font-weight: bold;
    }

    .content{ 
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
    
    }

    .title{
        width: 100%;
        text-align: center;
    }
    .top-data{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .top-data-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px ;
        
    }

    .top-data-left h1{
        font-weight: bold;
        font-size: 20pt;
    }

    .top-data-right{
        display: flex;
        flex-direction: row;

        width: 40%;

        justify-content: space-around;
    }

   .results{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;
    }

    .results h2{
        font-size: 26pt;
        font-weight: bold;
        text-align: center;
    }

    .results h3{
        font-size: 25pt;
        font-weight: bold;
        color: #780FA9;
    }

     .footer-data{
        width: 90%;
        height: 600px;
        background-color: #c4c4c4;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 30px;
        
    }

    

    

    .total-simetric{
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }

    .total-simetric h1{
        font-size: 45pt;
        font-weight: bold;
        color: #039800;
    } 

    .line{
        border: 1px solid #000;
    
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
    }

    .w3-button{
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50px;

        border: 4px solid #780FA9;

        font-size: 20pt;
        font-weight: bold;
        color: #780FA9;

    }

    #w3-display-left{
        position: absolute;
        top:300px;
        left: 6%;
        
        margin-left: 15vw;
    }

    #w3-display-right{
        position: absolute;
        top:300px;
        
        margin-left: -40px;
    }

    /*slide*/
}
